body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(38, 144, 186);
}

#title {
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
}

p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 4rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}


.nav-link {
    
}

/* Download Button */
.download-button {
    margin: 30px 10px 10px 0;
}

/* Title image */
.title-image {
    width: 60%;
    margin: 0 0 0 80px;
    color: wheat;
}

.subscribe-div {
    margin-top: 50px;
}

